<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Book List</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Book List</h1>-->
<!--<a href="addbook">Add Book</a>-->
<!--<br/><br/>-->
<!--<div>-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>Book Id</th>-->
<!--            <th>Writer</th>-->
<!--            <th>Book Name</th>-->
<!--            <th>Number Of Pages</th>-->
<!--            <th>Number Of Release</th>-->
<!--        </tr>-->
<!--        <tr th:each="book : ${booklist}">-->
<!--            <td th:utext="${book.bookId}">...</td>-->
<!--            <td th:utext="${book.writer}">...</td>-->
<!--            <td th:utext="${book.bookName}">...</td>-->
<!--            <td th:utext="${book.numberOfPages}">...</td>-->
<!--            <td th:utext="${book.numberOfRelease}">...</td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->