<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Book </h1>
<br/><br/>
<div>
   <table>
       <tr>
           <th>Id</th>
           <th>Book Id</th>
          <th>Writer</th>
          <th>Book Name</th>
           <th>Number Of Pages</th>
           <th>Number Of Release</th>
       </tr>
       <tr th:each="book : ${books}">
           <td th:utext="${book.id}">...</td>
           <td th:utext="${book.getBookId()}">...</td>
           <td th:utext="${book.getWriter()}">...</td>
           <td th:utext="${book.getBookName()}">...</td>
           <td th:utext="${book.getNumberOfRelease()}">...</td>
           <td th:utext="${book.getNumberOfPages()}">...</td>
           <td>
               <a th:href="@{'/editbook/'+${book.getId()}}">Edit</a>
               &nbsp;&nbsp;&nbsp;
               <a th:href="@{'/deletebook/'+${book.getId()}}">Delete</a>
           </td>
       </tr>
   </table>
</div>
</body>
</html>