<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Book </h1>
<br/><br/>
<div>
   <table>
       <tr>
           <th>Book Id</th>
          <th>Writer</th>
          <th>Book Name</th>
           <th>Number Of Pages</th>
           <th>Number Of Release</th>
       </tr>
      <tr th:each="book : ${books}">
           <td th:text="${book.getBookId()}">...</td>
           <td th:text="${book.getWriter()}">...</td>
           <td th:text="${book.getBookName()}">...</td>
          <td th:text="${book.getNumberOfPages()}">...</td>
           <td th:text="${book.getNumberOfRelease()}">...</td>
          <td>
              <a th:href="/@{'/edit/' + ${book.id}}">Edit</a>
              &nbsp;&nbsp;&nbsp;
              <a th:href="/@{'/delete/' + ${book.id}}">Delete</a>
          </td>
       </tr>
   </table>
</div>
</body>
</html>