<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<a th:href="@{/booklist}">Book List</a>
<a th:href="@{/journallist}">Journal List</a>
<a th:href="@{/newspaperlist}">Newspaper List</a>

<div>
    <table border="1">

        <form action="#" th:action="@{/findbybookname}"  method="post">
            <input type="search" th:name="bookName" placeholder="Search book"/>
            <input type="submit" value="Search" />
        </form>
        <div th:if= "${booklist != null}">

            <a th:href="@{/addbook}">Add Book</a>
            <tr>
                <th>Id</th>
                <th>Book Id</th>
                <th>Writer</th>
                <th>Book Name</th>
                <th>Number Of Pages</th>
                <th>Number Of Release</th>
            </tr>
            <tr th:each="book : ${booklist}">
                <td th:utext="${book.id}">...</td>
                <td th:utext="${book.bookId}">...</td>
                <td th:utext="${book.writer}">...</td>
                <td th:utext="${book.bookName}">...</td>
                <td th:utext="${book.numberOfPages}">...</td>
                <td th:utext="${book.numberOfRelease}">...</td>
                <td>
                    <a th:href="@{'/editbook/'+${book.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deletebook/'+${book.id}}">Delete</a>
                </td>
            </tr>
        </div>
    </table>
</div>

<div>
    <table border="1">
        <div  th:if= "${newspaperlist != null}">
        <tr>
            <th>Id</th>
            <th>Newspaper Id</th>
            <th>Release Day</th>
            <th>Number Of Release</th>
        </tr>
            <a th:href="@{/addnewspaper}">Add Newspaper</a>
        <tr th:each ="newspaper : ${newspaperlist}">
            <td th:utext="${newspaper.id}">...</td>
            <td th:utext="${newspaper.newsPaperId}">...</td>
            <td th:utext="${newspaper.releaseDay}">...</td>
            <td th:utext="${newspaper.numberOfRelease}">...</td>
            <td>
                <a th:href="@{'/editnewspaper/'+${newspaper.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deletenewspaper/'+${newspaper.id}}">Delete</a>
            </td>
        </tr>
        </div>
    </table>
</div>

<div>
    <table border="1">
        <div  th:if= "${journallist != null}">
        <tr>
            <th>Id</th>
            <th>Journal Id</th>
            <th>Release Number</th>
            <th>Release Month</th>
            <th>Number Of Release</th>
        </tr>
            <a th:href="@{/addjournal}">Add Journal</a>
        <tr th:each ="journal : ${journallist}">
            <td th:utext="${journal.id}">...</td>
            <td th:utext="${journal.journalId}">...</td>
            <td th:utext="${journal.releaseNumber}">...</td>
            <td th:utext="${journal.releaseMonth}">...</td>
            <td th:utext="${journal.numberOfRelease}">...</td>
            <td>
                <a th:href="@{'/editjournal/'+${journal.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deletejournal/'+${journal.id}}">Delete</a>
            </td>
        </tr>
        </div>
    </table>
</div>

</body>
</html>